.header {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 63px 99px 49px 100px;
    font-family: Roboto;
    margin: 0 auto;
}

.title {
    width: 234px;
    height: 79px;
    display: inline;
    flex-shrink: 8;
    font-size: 88px;
    color: #000;
    font-weight: 400;



}

.title-js {
    color: #4BCAFF;
}

.header-menu {
    box-sizing: border-box;
    display: flex;
    padding-top: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1280px;
    height: 69px;

}



.menu {
    background-image: url("../img/menu-fon.png");
    background-size: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-end;




    flex-shrink: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;

}


.menu-nav2 {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 266px;
    height: 27px;
    color: #FFF;
    padding: 24px 32px 18px 32px;
    border-right: 1px solid#FFF;
    border-left: 1px solid#FFF;

    margin-left: 178px;



}

.menu-nav3 {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    width: 77px;
    height: 27px;

    flex-shrink: 0;

    color: #FFF;
    padding: 26px 38px 18px;
    border-right: 1px solid#FFF;

}

.menu-nav4 {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #FFF;
    padding: 24px 40px 18px;
    width: 204px;
    height: 27px;
    border-right: 1px solid#FFF;
}


.menu-nav5 {

    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #FFF;
    padding: 24px 18px 18px 40px;
    width: 163px;
    height: 27px;
    margin-right: 100px;
    border-right: 1px solid#FFF;



}

.wrapper {
    width: 1280px;
    display: flex;
    justify-content: flex-start;
}



.aside {

    box-sizing: border-box;
    width: 344px;
    height: 399px;
    flex-shrink: 0;
    padding-left: 90px;
    padding-top: 49px;
    margin: 0 auto;







}

.aside-menu {
    box-sizing: border-box;
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-end;
    color: #495863;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

    /* 100% */
    width: 344px;
    height: 399px;
}

.aside-menu1 {

    padding: 26px 194px 52px 44px;

}

.aside-menu2 {
    padding: 0px 78px 0 44px;

}

.aside-menu2 :hover {
    background: #DBDBDB;
    padding: 27px 78px 27px 38px;
}

.aside-menu3 {
    padding: 52px 82px 0 44px;
}

.aside-menu4 {
    padding: 52px 121px 0 44px;
}

.aside-menu5 {
    padding: 52px 147px 30px 44px;
}


.main-right {
    padding: 49px 99px 37px 52px;

    width: 885px;
    height: 529px;
    flex-shrink: 0;
    box-sizing: border-box;

    margin-left: 0 auto;




}


.main-photo {
    padding: 75px 268px 73px 297px;
    margin-left: 52px;
    width: 320px;
    height: 381px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
}


.main-content {
    width: 885px;
    margin-left: 62px;
    padding-top: 37px;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.text-main {
    height: 141px;
}

.text-main1 {
    height: 109px;
    padding-top: 13px;
}


.footer {
    width: 1280px;
    padding: 54px 99px 30px 100px;
    margin-bottom: 30px;
    margin-top: 354px;



}

.footer-container {

    width: 1280px;
    height: 69px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    box-sizing: border-box;
}


.footer-menu {
    background-image: url(../img/back-footer.png);
    flex-shrink: 0;

    margin: 0 auto;

    background-size: no-repeat;
    background-size: cover;
    box-sizing: border-box;







}

a {
    text-decoration: none;
}

.footer-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px 135px 21px 40px;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 875px;

    /* 100% */

}

.footer-text-copyright {
    padding: 20px 40px 21px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 100% */

}